@model IEnumerable<Blog.Models.Article>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        @foreach (var article in Model)
        {
            <div class="col-sm-6">
                <article>
                    <header>
                        <h2>
                            <a asp-action="Details" asp-route-id="@article.Id">@article.Title</a>
                        </h2>
                    </header>
                    <p>
                        @Html.DisplayFor(modelItem => article.Content)
                    </p>
                    <footer class="pull-left">
                        <small class="author">
                           Author: @Html.DisplayFor(modelItem => article.Author.FullName)
                        </small>
                    </footer>
                </article>
            </div>
        }
    </div>
</div>
